:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);

}

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 0.8rem;
    background-color: var(--VeryLightGray);
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

p, header > :nth-child(1){
    color: var(--GrayishBlue);
    
}

main{
    max-width:1024px;
    margin: 0 auto;
}

.cyanbox{
    border-top: 4px solid var(--Cyan);
}


.bluebox{
    border-top: 4px solid var(--Blue);
}
.redbox{
    border-top: 4px solid var(--Red);
}
.orangebox{
    border-top: 4px solid var(--Orange);
}

.headercontainer{
margin-bottom: 3em;
}

header{
width: 60%;
margin-inline: auto;
padding: 0.8em;
  text-align: center; 

}


.headercontainer__text{
  width: 60%;
  margin: 0 auto; 
}

.headercontainer__text p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em 0;
}

.gridflex{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.card{
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);

}

.card img{
display: inline-block;
width: 60px;
height:60px;
align-self: flex-end;
}

.secwrapper{
    display: flex;
    flex-direction: column;
    gap: 2em;
}


@media screen and (max-width: 760px) {
    .grid{
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .card{
       width: 100%; 
    }

    header{
        text-align: center;
    }

    header, .headercontainer, .headercontainer__text, .headercontainer__text p{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    body{
        font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
        padding: 1em
    }
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }